body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border: 2px solid #999;
    display: flex;
    flex-direction: column;
}
.card-header img {
    display: block;

    width: 100%;
    height: 100%;
    max-height: 10em;

    object-fit: cover;
    object-position: center;
}
.card-body {
    padding: 1em;
    box-sizing: border-box;
    background-color: #ccc;
}
.card-body p {
    text-align: justify;
    margin: 0;
    padding: 1em 0.5em;
}

.card-btn{
    display: inline-block;
    background-color: darkslateblue;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75em 1em;
    margin: auto;
    text-align: center;
}
.card-btn:hover {
    text-decoration: underline;
}
.cards-container {
    display: flex;
    gap: 1em;
}

@media screen and (min-width: 50em){
    .card {
        flex-direction: row;
    }
    .card-header img {
        max-height: initial;
    }
}