@charset "UTF-8";
table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}
/* tr::selection {
    background-color: black;
    color: white;
} */
th {
    background-color: lightgray;
    padding: 1rem;
}

td {
   padding-left: 1rem;
   padding: 1rem;
}

tr:nth-of-type(even) {
    background-color: rgb(183, 183, 183);
}

tr.linhas:hover {
    background-color: gray;
    color: white;
}

tr:has(input[type="checkbox"]:checked) {
    background-color: lightgreen;
    color: black;
}